.navbar {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fdfdfd;
  padding: 8px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 90px;
  flex-wrap: wrap;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotateLogo 6s linear infinite;
  cursor: pointer;
}

.search-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 2px;
}

.search-input {
  padding: 5px 14px;
  border-radius: 25px;
  border: 1.5px solid #857df5;
  outline: none;
  font-size: 14px;
  width: 180px;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #01060c;
}

.icon-btn {
  font-size: 22px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-top: 8px;
}

.icon-btn:hover {
  color: #00060c;
  transform: scale(1.2);
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 30px;
  transition: all 0.3s ease;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0;
  transition: color 0.3s;
}

.link:hover {
  color: #00070e;
  border-bottom: 2px solid #007bff;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  padding: 5px;
  user-select: none;
}

@keyframes rotateLogo {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 22px;
  cursor: pointer;
}

.modal-logo {
  width: 300px;
}

/* Responsive styles */
@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }

  .left-section {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    display: none;
    padding: 10px 0;
    background-color: rgb(255, 249, 249);
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
    align-items: center;
    
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 36px;
    z-index: 1000;
  }

  .search-cart {
    justify-content: center;
    width: 100%;
    margin-top: 18px;
    margin-right:85px;
  }
.logo-img{
  margin-top:12px;
  width: 80px;
  height: 80px;
}



}
